* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  /* text-align: center; */
  /* background-image: linear-gradient(135, #0000ff, #00ffff); */
}

header {
  background-image: linear-gradient(135deg, #0000ff, #00ffff);
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

header > nav {
  display: flex;
  justify-content: space-around;
}

header > nav > * {
  text-align: center;
  flex: 1 1 100%;
}

#todo-container {
  background-color: antiquewhite;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#todo-container * {
  font-size: 1.75rem;
}

#todo-input {
  width: 100%;
  display: flex;
  padding-bottom: 25px;
}

#todo-input > div {
  padding: 5px;
}

#new-todo {
  flex: 0 1 100%;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

.todo-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-div > div {
  padding: 5px;
}

.todo-li {
  flex: 0 1 100%;
}
